@import "banner.css";
@import "button.css";
@import "cards.css";
@import "footer.css";
@import "card-social.css";


a{
	text-decoration: none;
}

h1 {
	color: white;
	position: right;
	font-style: italic;
	font-style: bold;
	text-decoration: none;

}

h2 { 
	color: black;
	font-style: italic;
	text-decoration: none;

}

p {
	font-style: large;
	
}

body{
	margin:;
}

.container{
	width: 90%;
	margin: 24px auto;
}